<mat-card class="card" >
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src={{img}} alt="photo of player">
    <mat-card-title fxLayoutAlign="space-around">{{player.playerType}}</mat-card-title>

    <mat-card-content>
      <p>
        {{player.description}}
      </p>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="space-around end"> 
      Population:<input matInput t type="number" min="0" max="20" #value (blur)="onLeave($event.target)" value="1" />
    </mat-card-actions>

  </mat-card>