<div fxLayout="column" class="row">
  <h2 fxLayoutAlign="space-around" class="row">Evolution of trust</h2>
  <div fxLayout="row" fxLayoutAlign="space-around">
    <div *ngFor="let p of playerList" fxFlex="14%">
      <app-player [player]=p></app-player>
    </div>

  </div>


  <div class="row">
    <mat-tab-group mat-align-tabs="center" (selectedTabChange)="tabChanged($event)">
      <mat-tab label="One To One">
        <div>
          <app-one2one></app-one2one>
        </div>
      </mat-tab>
      <mat-tab label="League">
        <div>
          <app-league></app-league>
        </div>
      </mat-tab>
      <mat-tab label="Darwin Mode">        <div>
        <app-darwin></app-darwin>
      </div></mat-tab>
    </mat-tab-group>
  </div>
</div>